.loading {
    display: inline; 
    width: 3rem; 
    height: 3rem; 
    color: #E5E7EB; 
    animation: spin 1s linear infinite;
    fill: #fdc700;
    z-index: 1000;
} 

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}