.container {
    display: flex; 
    padding: 0.5rem; 
    align-items: center; 
    border-width: 1px;
    border-radius: 0.375rem; 
    background-color: #F9FAFB;
    border-color: #fe9a00;
    initial-value: solid;
}

.container > svg {
    width: 1.25rem; 
    height: 1.25rem;
    color: #9CA3AF; 
}

.input {
    display: block; 
    margin-left: 0.25rem; 
    outline-style: none; 
    background-color: #F9FAFB;
    width: 90% 
}

@media screen and (max-width: 640px) {
    .container {
      width: 50vw;
    }
}